@import 'style/element/index.css'

body
    font-family sans-serif
    text-align center
    margin 0
.el-notification *
    text-align center
.el-menu-item.is-active
    color #42b883
.el-menu-item:hover, .el-submenu__title:hover
    border-color #42b883 !important
.el-submenu .el-menu-item:hover, .el-submenu .el-menu-item
    border none